1 ICON "src/buildassets/icon.ico"

1 VERSIONINFO
FILEVERSION 0,0,0,0
PRODUCTVERSION -,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "zvqle"
            VALUE "FileDescription",  "Windows Inspecter"
            VALUE "FileVersion",      "0, 0, 0, 0"
            VALUE "InternalName",     "Winspecter"
            VALUE "LegalCopyright",   "Copyright 2025 zvqle. All rights Reserved."
            VALUE "OriginalFilename", "winspecter.exe"
            VALUE "ProductName",      "Windows Inspecter"
            VALUE "ProductVersion",   "0, 0, 0, 0"
            VALUE "LegalTrademarks",  "zvqle"
            VALUE "Comments",         "Inspecter"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END